---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About Dustin.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <p>Hi, I&apos;m Dustin Scherer — a creative technologist, product manager, and full stack developer with a passion for making technology more human.</p>
    <p>Over the past 20 years, I&apos;ve built a career that weaves together software engineering, UX/UI design, product leadership, marketing, and learning systems. If it&apos;s about connecting people to better experiences, clearer information, or smoother technology, chances are I&apos;ve had a hand in it.</p>
    <p>I&apos;ve worked across industries — from helping Fortune 500 brands like Verizon, Walmart, and Bank of America build award-winning digital experiences, to streamlining server management systems at cPanel & WHM. Whether leading product strategy, mentoring developers, designing user-centered interfaces, or writing the code myself, I thrive at the intersection of creativity, technology, and human connection.</p>
    <p>At the core of everything I do is a simple idea: make things better for people.</p>
    <p>That could mean building a smarter interface, helping a teammate grow, or designing processes that make complex systems feel effortless. Helping isn't just something I do — it&apos;s the lens I bring to every project and every collaboration.</p>
    <p>Along the way, I've earned certifications in UX from NN/g and advanced Product Ownership from Scrum Alliance, and I&apos;m always chasing new skills (currently improving my Spanish and German). Whether managing cross-functional teams, building full stack applications, or coaching others, I bring a hands-on, people-first approach to every challenge.</p>
    <p>When I&apos;m not working, you can usually find me diving into creative side projects, tinkering with tech, or chasing down new adventures with my family.</p>
    <p>Thanks for stopping by — I&apos;m excited to see how we can make things better together.
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
