<style>
  img {
    display: block;
    width: 75px;
    border-radius:50%;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="Site Logo. His name is laser. He's not that angry." src="/assets/laser-vector.png" width="75" height="50" />
</a>
